.item-details-wrapper {
    display: flex;
    background-color: rgba(53, 53, 51, 0.78);
    border-radius: 10px;
    padding: 20px;
    width: 45%;
}
.list-group {
    margin-left: 80px;
}
.list-group-item {
    opacity: 60%;
}